@import "_mixins";

#canvas {
    @include transition(height, 400ms);
    min-height: 400px;
    background: $canvas-bg;
    nav {
        overflow: hidden;
        a {
            position: relative;
            color: $nav-text;
        }
        span {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            left: -40px;
            top: -10px;
        }
    }
}
