@import "_mixins";

#canvas {
    @include transition(height, 400ms);
    min-height: 400px;
    background: #f0f0f0;
    nav {
        overflow: hidden;
        a {
            position: relative;
            color: #666;
        }
        span {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            left: -40px;
            top: -10px;
        }
    }
}
