@import "_mixins";

body > footer {
    border-top: 1px solid $body-bdr;
    padding: 30px 0 60px;

    > ul {
        margin: 0 auto;
        width: 960px;
    
    }

    li {
        float: left;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }

    a {
        color: $footer-text;
        font-size: 1.2em;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    body > #footer > ul {
        width: 100%;
        margin: 0 2em;
    }

}


















