@import "_mixins";

body > footer {
    border-top: 1px solid $body-bdr;
    padding: 30px 0 60px;

    li {
        float: left;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
    }

    a {
        color: $footer-text;
        font-size: 1.2em;
        &:hover {
            text-decoration: underline;
        }
    }
}


@media all and (min-width: 960px), all and (min-device-width: 960px) {

    .projects, body > #footer > ul {
        width: 960px;
        margin: 0 auto;
    }


}


@media all and (max-width: 800px), all and (max-device-width: 800px) {

    .projects,  body > #footer > ul {
        margin: 0;
        width: 100%;
    }    
        
    body > #footer > ul {
        margin: 0 1em;
    }

}






















