@import "_mixins";

#header {
    background: $header-bg;
    h1 {
        @include transition(all, 100ms);
    }
    h2 {
        @include transition(all, 175ms);
        margin-top: 8px;
    }
    .titleTransformed {
        @include transform(translate(25px, 0));
        opacity: 0;
    }
    .subTitleTransformed {
        @include transform(skew(30deg) translate(50px, 0));
        opacity: 0;
    }
    hgroup {
        padding: 46px 0 34px;
        margin: 0 auto;
        width: 960px;
    }
}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    #header {
        hgroup {
            padding: 20px 0 10px;
            width: auto;
            margin: 0 2em;
        }
    }

}

@media all and (max-width: $bp_2), all and (max-device-width: $bp_2) {

    #header {
        hgroup {
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
                margin-top: 0.5em;
                line-height: 1.4em;
            }
        }
    }

}

@media all and (max-width: $bp_3), all and (max-device-width: $bp_3) {

    #header {
        hgroup {
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.1em;
            }
        }
    }

}
