@import "_mixins";

#header {
    h1 {
        @include transition(all, 100ms);
    }
    h2 {
        @include transition(all, 175ms);
        margin-top: 8px;
    }
    .titleTransformed {
        @include transform(translate(25px, 0));
        opacity: 0;
    }
    .subTitleTransformed {
        @include transform(skew(30deg) translate(50px, 0));
        opacity: 0;
    }
}

@media all and (min-width: 960px), all and (min-device-width: 960px) {

    #header {
        width: 100%;
        padding: 46px 0 34px;
        hgroup {
            margin: 0 auto;
            width: 960px;
        }
    }

}

@media all and (max-width: 800px), all and (max-device-width: 800px) {

    #header {
        padding: 1em 0;
        hgroup {
            margin: 0 1em;
            width: auto;
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
                margin-top: 0.5em;
                line-height: 1.4em;
            }
        }
    }

}

@media all and (max-width: 480px), all and (max-device-width: 480px) {

    #header {
        hgroup {
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.1em;
            }
        }
    }

}
