@import "_mixins";

/*
404 page!

Breakpoints
800px
320px
*/




// Full size
@media all and (min-width: 960px), all and (min-device-width: 960px) {
    #header {
        width: 100%;
        padding: 40px 0 30px;
        hgroup {
            margin: 0 auto;
            width: 960px;
        }
    }
    #canvas {
        padding: 30px 0;
        nav {
            padding: 20px 0;
            a {
                float: left;
                margin: 0 0 0 60px;
                &:first-child {
                    margin: 0 0 0 40px;
                }
            }
        }
    }

    .about, .projects, .project, body > #footer > ul {
        width: 960px;
        margin: 0 auto;
    }

    .about {
        figure {
            height: 150px;
            float: right;
        }
        .techList, .bookList, .networkList {
            margin-left: -10px;
        }
    }

    .project {
        p {
            margin: 10px 0 0 0;
        }
    }

}

@media all and (max-width: 800px), all and (max-device-width: 800px) {

    #header {
        padding: 1em 0;
        hgroup {
            margin: 0 1em;
            width: auto;
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
                margin-top: 0.5em;
                line-height: 1.4em;
            }
        }
    }
    

    #canvas {
        padding: 1em 0;
        nav {
            margin: 0;
            padding: 1em;
            a {
                margin: 1.5em 1em 0 3em;
                clear: left;
                &:first-child {
                    margin: 0 1em 0 3em;
                }
            }
        }
    }

    .about, .projects, .project body > #footer > ul {
        margin: 0;
        width: 100%;
    }    
        
    .about, body > #footer > ul {
        margin: 0 1em;
    }

    .about {
        figure {
            float: left;
            height: 3em;
            margin-bottom: 1em;
        }
        h3 {
            clear: left;
        }
    }

    .project {
        img {
            width: 100%;
            margin: 1em 1em 0;
        }
        p {
            margin: 1em;
        }
    }


}


// Below 480
@media all and (max-width: 480px), all and (max-device-width: 480px) {

    #header {
        hgroup {
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.1em;
            }
        }
    }

    .about {
        figure {
            float: left;
            height: 3em;
            margin-bottom: 1em;
        }
        h3 {
            clear: left;
        }
        .techList, .bookList, .networkList {
            margin-left: 0px;
        }
    }

}
