@import '_mixins';

.ts-1, .ts-1 .tile {
    width: $tile-grid;
    height: $tile-grid;
}
.ts-1 .info {
    display: none;
}

.ts-3 {
    width: ($tile-grid * 3) + 20;
    height: ($tile-grid * 3) + 20;
    overflow: hidden;
}
.ts-3 .tile {
    display: none;
}
