extends layout
block title
    title 404
block content
    header#header
        hgroup
            h1 404 not found
    div#canvas
        section.fourohfour
            p This is a 404 Not Found page. What you were expecting to get is not found here.
            a(href= '/')
                span.icon-left-30
                | Back to index?
