extend layout
block title
    title CMS

block content
    header#header
        hgroup
            h1 CMS

    section#canvas
        section.cms
            form.form.form-login(action='/login', method='POST')
                fieldset
                    input#email(type='email', placeholder='email', name='email')
                fieldset
                    input#password(type='password', placeholder='password', name='password')
                fieldset
                    input#submit(type='submit', value='Log in')
