extend layout
block title
    title Index

block content
    header#header
        hgroup
            h1 Index

    section#canvas
        section.welcome
            if message
                p #{message}

            a(href="/projects/")
                span.icon-right-30
                | Projects
            a(href="/about/")
                span.icon-right-30
                | About / Contact
