extend layout
block title
    title Log In

block content
    header#header
        hgroup
            h1 Log In

    section#canvas
        section.login

            if message
                p #{message}

            form.form.form-login(action='/login', method='POST')
                fieldset
                    input#email(type='email', placeholder='email', name='email', value=email)
                fieldset
                    input#password(type='password', placeholder='password', name='password')
                fieldset
                    input#submit(type='submit', value='Log in')

            p Maybe you want to register instead?
                a(href='/register') Register
                | here

