/* line 3, ../../scss/layout/header.scss */
body > header {
  width: 100%;
  padding: 40px 0 30px;
}
/* line 6, ../../scss/layout/header.scss */
body > header hgroup {
  width: 960px;
  margin: 0 auto;
}
