/* line 6, ../../scss/layout/tileSize.scss */
.ts-1, .ts-1 .tile {
  width: 100px;
  height: 100px;
}

/* line 11, ../../scss/layout/tileSize.scss */
.ts-1 h3, .ts-1 h4 {
  display: none;
}

/* line 15, ../../scss/layout/tileSize.scss */
.ts-2, .ts-2 .tile {
  width: 210px;
  height: 210px;
}

/* line 20, ../../scss/layout/tileSize.scss */
.ts-2 h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 27, ../../scss/layout/tileSize.scss */
.ts-3, .ts-3 .tile {
  width: 320px;
  height: 320px;
}
