@import "_mixins";

/* Globals
---------------------------------------------------------------------------- */

* {
    @include box-sizing(border-box);
}

body {
    font: {
        size: 0.9em;
        family: RobotoLight, arial, helvetica, sans-serif;
    }
    color: #aaa;
    background: #333;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
};

.ir { /* Image Replacement */
    text-indent: -999em;
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    display: inline-block;
}

.hide {
  display: none;
}

noscript {
    background: #f00;
    border: 2px solid #f00;
    border-top: 7px solid #f00;
    display: block;
    p {
        color: #fff;
        text-align: center;
        font-weight: bold;
    }
}
