extends layout
block content
    header
        hgroup
            h1 404 not found
    div#canvas
        p We are out of stock. There is nothing in the back of the store.
        a(href= '/') Back to index?