extend layout
block content
    header#header
        hgroup
            h1 About / Contact

    section#canvas
        section.about
          h2 Craig Dallimore
          h3 Front End Web Developer

          h3 Technology

          h3 Networks
          ul.networkList 
            li This would start a list of social networks

          h3 Books I like
          ul.bookList 
            li This would start a list of books
    section#modal
