extend layout
block content
    header#header
        hgroup
            h1 Welcome

    section#canvas
        section.welcome
            a(href="/projects/")
                span.icon-right-30
                | Projects
            a(href="/about/")
                span.icon-right-30
                | About / Contact
