extend layout
block content
    header#header
        hgroup
            h1 Projects

    section#canvas
        section.projects
            nav
                a(href='/about/')
                    span.s-icon-up-30
                    | About / Contacts
            ul.tileListNoJS
                for project, i in projects
                    li
                        img(src= "/static/img/s/" + project.label + "-1x1.png", alt= project.title)
                        h2 #{project.title}
                        h3 #{project.short_description}
                        a(href= project.label).s-icon-info-30 Details
                        if project.href_available
                            a(href= "//" + project.href, target="_blank").s-icon-link-30 Go to #{project.title}
