extend layout
block content
    header#header
        hgroup
            h1 Projects

    section#canvas
        section.projects
            nav
                a(href='/about/')
                    span.icon-up-30
                    | About / Contacts
            ul.tileList
                for project, i in projects
                    li.ts-1(data-project-id=project.id)
                        div.tile
                            div.front(class= "s-" + project.label + "-1x1")
                            div.back
                                a.btn-enlarge(title = "Enlarge")
                                    span.icon-zoom-in-30
                                    | Enlarge
                                a.btn-more(href="/projects/" + project.label, title="More Information" )
                                    span.icon-info-30
                                    | More
                        div.info
                            a.btn-shrink(href="#", title="Shrink")
                                span.icon-zoom-out-30
                                | Shrink
                            if project.href_available
                                a.btn-external(href= "//" + project.href, target="_blank", title="Visit " + project.title)
                                    span.icon-link-30
                                    | Link
                            a.btn-more(href= project.label)
                                span.icon-info-30
                                | More
                            h3 #{project.title}
                            h4 #{project.short_description}

block bootstrap
    script
        App.module("Data", function(Data, App) {
          Data.Projects = function() {
            return !{JSON.stringify(projects)};
          };
        });
