extend layout
block content
    header#header
        hgroup
            h1 #{project.title}
            h2 #{project.short_description}
    section#canvas
        section.projectDetails
            img(src='/static/img/featured/' + project.label + '.png', alt='Featured image')
            p #{project.long_description}
            ul.techList
                for tech, i in project.technology
                    li(class='s-logo-' + tech)
                    
    section#modal
        nav.pivotControls
            a(href="/projects/").btn-back.s-icon-up-50 Back
            if project.href_available
                a(href='//' + project.href, target='_blank').btn-link.s-icon-link-50
                    span.s-icon-forward
                    | Visit #{project.title}
