extend layout
block content
    header
        hgroup
            h1 #{project.title}
    section#canvas
        section.projectDetails
            a(href='/projects/').btn-back.s-icon-back Back
            if project.href_available
                a(href='//' + project.href, target='_blank').btn-link
                    span.s-icon-forward
                    | Visit #{project.title}
            img(src='static/img/featured/' + project.label + '.png', alt='Featured image')
            p #{project.long_description}