extend layout
block content
    header#header
        hgroup
            h1 #{project.title}
            h2 #{project.short_description}
    section#canvas
        section.projectDetails.projectNoJS
            nav
                a(href='/projects/')
                    span.icon-up-30
                    | Projects
            div.content
                img(src='/static/img/featured/' + project.label + '.png', alt='Featured image')
                p #{project.long_description}
                ul.techList
                    for tech, i in project.technology
                        li(class='logo-' + tech)
