/* Globals
---------------------------------------------------------------------------- */
/* line 6, ../../scss/base/common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../../scss/base/common.scss */
body {
  font-size: 0.9em;
  font-family: RobotoLight, arial, helvetica, sans-serif;
  color: #fff;
  background: #000;
}

/* line 19, ../../scss/base/common.scss */
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

/* line 25, ../../scss/base/common.scss */
.ir {
  /* Image Replacement */
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden;
}

/* line 31, ../../scss/base/common.scss */
.icon {
  display: inline-block;
}

/* line 35, ../../scss/base/common.scss */
.hide {
  display: none;
}

/* line 39, ../../scss/base/common.scss */
noscript {
  background: #f00;
  border: 2px solid #f00;
  display: block;
}
/* line 43, ../../scss/base/common.scss */
noscript p {
  text-align: center;
  font-weight: bold;
}
