$color-01: #fff;
$color-04: #eee;
$color-05: #aaa;
$color-02: #666;
$color-03: #333;

// NOSCRIPT
$noscript-text: #fff;
$noscript-bg: #f00;

// TEXT COLOURS
$footer-text: $color-01;
$tip-text: $color-01;
$info-text: $color-02;
$nav-text: $color-02;
$body-text: $color-02;
$link-text: $color-03;
$heading-text: $color-05;

// BACKGROUNDS
$tile-bg: $color-01;
$body-bg: $color-03;
$tip-bg: $color-03;
$canvas-bg: $color-04;
$info-bg: $color-04;

// BORDERS
$body-bdr: #dedede; 




