@import "compass/css3/transform";
@import "_colors";

// Box Sixes
$grid: 12px;
$tile-grid: 100px;

// Border
@mixin border-radius($values) {
    -webkit-border-radius: $values;
    -moz-border-radius: $values;
    -ms-border-radius: $values;
    -o-webkit-border-radius: $values;
    border-radius: $values;
}

// Box
@mixin sqr($value) {
    width: $value;
    height: $value;
}

@mixin box-sizing($values) {
    -webkit-box-sizing: $values;
    -moz-box-sizing: $values;
    -ms-box-sizing: $values;
    -o-box-sizing: $values;
    box-sizing: $values;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: #{$value};
    -moz-box-shadow: #{$value};
    -ms-box-shadow: #{$value};
    -o-box-shadow: #{$value};
    box-shadow: #{$value};
}

// Transform

@mixin transform ($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}

@mixin rotate ($deg) {
    -webkit-transform: rotate(#{$deg}deg);
    -moz-transform: rotate(#{$deg}deg);
    -ms-transform: rotate(#{$deg}deg);
    -o-transform: rotate(#{$deg}deg);
    transform: rotate(#{$deg}deg);
}

// Transition
@mixin transition($property, $duration) {
    -webkit-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    -ms-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    transition: $property $duration ease-in-out;
}

@mixin transitionDelay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -ms-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transformStyle($style) {
    -webkit-transform-style: $style;
    -moz-transform-style: $style;
    -ms-transform-style: $style;
    -o-transform-style: $style;
    transform-style: $style;
}


@mixin backface-visibility($value) {
    -webkit-backface-visibility: $value;
    -moz-backface-visibility: $value;
    -ms-backface-visibility: $value;
    -o-backface-visibility: $value;
    backface-visibility: $value;
}

@mixin perspective($value) {
    -webkit-perspective: $value;
    -moz-perspective: $value;
    -ms-perspective: $value;
    -o-perspective: $value;
    perspective: $value;
}

