<section class="profile"></section>

<h2 class="transformed">I've built apps using these technologies</h2>
<section class="techList"><img src="/static/img/ajax-loader.gif" width="16" height="16"></section>

<h2 class="transformed">Find me on these networks</h2>
<section class="networkList"><img src="/static/img/ajax-loader.gif" width="16" height="16"></section>

<h2 class="transformed">I've been reading these books</h2>
<section class="bookList"><img src="/static/img/ajax-loader.gif" width="16" height="16"></section>
