<figure class="s-avatar-<%= label%>"></figure>
<h2><%= firstname %> <%= lastname %></h2>
<a href="//<%= url  %>" class="transformed"><span class="icon-link-30"></span><%= url %></a>
<a href="mailto:<%= email %>" class="transformed"><span class="icon-email-30"></span><%= email %></a>

<a href="/projects/" class="btn-go transformed"><span class="icon-right-30"></span>Look at my project gallery</a>
<a href="/downloads/<%= label %>.vcf" target="_blank"  class="transformed"><span class="icon-download-30"></span>Download my contact details</a>
<a href="/downloads/<%= label %>.docx" target="_blank" class="transformed"><span class="icon-download-30"></span>Download my CV (.docx)</a>
<a href="/downloads/<%= label %>.pdf" target="_blank" class="transformed"><span class="icon-download-30"></span>Download my CV (.pdf)</a>

