<figure class="s-avatar-<%= label%>"></figure>
<h3><%= firstname %> <%= lastname %></h3>
<a href="//<%= url  %>"><span class="s-icon-link-30"></span><%= url %></a>
<a href="mailto:<%= email %>"><span class="s-icon-email-30"></span><%= email %></a>

<a href="/projects/" class="btn-go"><span class="s-icon-right-30"></span>Look at my project gallery</a>
<a href="/downloads/<%= label %>.vcd" target="_blank" class="btn-download"><span class="s-icon-download-30"></span>Download my contact details</a>
<a href="/downloads/<%= label %>.docx" target="_blank" class="btn-download"><span class="s-icon-download-30"></span>Download my CV (.docx)</a>
<a href="/downloads/<%= label %>.pdf" target="_blank" class="btn-download"><span class="s-icon-download-30"></span>Download my CV (.pdf)</a>

