<nav>
    <a class="btn-back" href="/projects/"><span class="icon-up-30"></span>Projects</a>
    <a class="btn-prev "href="/prev"><span class="icon-left-30"></span>Previous</a>
    <a class="btn-next" href="/next"><span class="icon-right-30"></span>Next</a>
    <% if (href_available) { %>
    <a class="btn-link" href="//<%= href %>" target="_blank"><span class="icon-link-30"></span>Visit <%= title %></a>
    <% } %>
</nav>
<div class="content projectTransformed">
    <img src="/static/img/featured/<%= label %>.png" alt="<%= title %>">
    <p><%= long_description %></p>
        <ul class="techList tipList">
        <% for(tech in technology) {  %>
        <li class="logo-<%= technology[tech] %> transformed"><span class="tip"><%= dictionary[technology[tech]].label %></span></li>
        <% } %>
        </ul>
</div>
