<div class="tile">
    <div class="info">
        <a class="icon-zoom-in-30 enlarge" href="#" title="Enlarge">Enlarge</a>
        <a class="icon-zoom-out-30 shrink" href="#" title="Shrink">shrinkk</a>
        <% if (href_available) { %>
        <a class="icon-link-30 external" href="//<%= href %>", target="_blank" title="Visit <%= title %>">Link</a>
        <% } %>
        <a class="icon-info-30 more" href="/projects/<%= label %>" title="More information">More</a>
        <h3><%= title %></h3>
        <h4><%= short_description %></h4>
    </div>
</div>
