@import "_mixins";

.about {
    width: 960px;
    margin: 0 auto;
    figure {
        height: 150px;
        float: right;
    }
    > section {
        &:first-child {
            padding-top: 50px;
        }
        padding-bottom: 50px;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }

    h3 {
        @include transition(all, 300ms);
        font-size: 1.5em;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }

    > .transformed {
        @include transform(translate(50px, 0));
        opacity: 0;
    }

    .techList, .networkList, .bookList {
        margin-left: -10px;
        li {
            @include transition(all, 500ms);
        }
        li:first-child {
            margin-left: 10px;
        }
        .transformed {
            opacity: 0;
            @include transform(translate(100px, 0) rotateY(90deg));
        }
    }

}

.js .aboutNoJS {
    display: none;
}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    .about {
        width: auto;
        margin: 0 2em;
    }

}

@media all and (max-width: $bp_2), all and (max-device-width: $bp_2) {

    .about {
        figure {
            float: left;
            height: 3em;
            margin-bottom: 1em;
        }
        h2 {
            clear: left;
        }
    }

}

@media all and (max-width: $bp_3), all and (max-device-width: $bp_3) {

    .about {
        > section {
            &:first-child {
                padding-top: 1.5em;
            }
        }
        figure {
            float: left;
            height: 3em;
            margin-bottom: 1em;
        }
        h3 {
            clear: left;
        }
        .techList, .bookList, .networkList {
            margin-left: 0px;
        }
    }

}
