@import "_mixins";

.about {
    > section {
        margin-top: 10px;
        padding-bottom: 10px;
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }

    h2 {
        @include transition(all, 300ms);
        color: #aaa;
        font-size: 1.5em;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }

    > .transformed {
        @include transform(translate(50px, 0));
        opacity: 0;
    }
    .profile {
        figure {
            display: block;
            width: 150px;
        }    
        h3 {
            font-size: 1.5em;
        }
        a {
            @include transition(all, 300ms);
            margin: 20px 0 0 40px;
            position: relative;
            float: left;
            clear: left;
            color: #666;
            span {
                position: absolute;
                width: 30px;
                height: 30px;
                left: -40px;
                top: -9px;
            }
            &:first-child {
                margin-top: 10px;
            }
        }
        .transformed {
            @include transform(translate(50px, 0) rotateY(90deg));
            opacity: 0;
        }
    }

    .techList, .networkList, .bookList {
        li {
            @include transition(all, 500ms);
        }
        li:first-child {
            margin-left: 10px;
        }
        .transformed {
            opacity: 0;
            @include transform(translate(100px, 0) rotateY(90deg));
        }
    }

}
.js .aboutNoJS {
    display: none;
}
