@import "_mixins";

.cms {
    width: 960px;
    margin: 0 auto;



}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    .cms {
        width: auto;
        margin: 0 2em;
    }

}

@media all and (max-width: $bp_2), all and (max-device-width: $bp_2) {

    .cms {
    }

}

@media all and (max-width: $bp_3), all and (max-device-width: $bp_3) {

    .cms {
    }

}
