@import "_mixins";

.fourohfour {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0;
    a {
        margin: 20px 0 0 40px;
        font-size: 1.8em;
        position: relative;
        display: block;
        span {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            left: -40px;
            top: -4px;
        }
    }
    p {
        font-size: 1.8em;
    }
}


@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    .fourohfour {
        padding: 10px 0;
        width: 100%;
        a {
            margin: 20px 0 0 2.5em;
        } 
        p {
            margin: 0 1em;
        }
    }

}

@media all and (max-width: $bp_3), all and (max-device-width: $bp_3) {

    .fourohfour {
        p {
            font-size: 1em;
            margin: 1em 2em;
        }
    }

}
