@import "_mixins";

.pivotControls {
    a {
        position: absolute;
        top: -25px;
    }
    .btn-prev {
        left: 30px;
    }
    .btn-next {
        left: 90px;
    }
    .btn-back {
        top: -75px;
        left: 60px;
    }
    .btn-link {
        top: 15px;
        left: 20px;
    }
}
