@import '_mixins';

.project {
    @include perspective(3200px);
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    img {
        margin: 5px 20px 20px 0;
        float: left;
    }
    p {
        clear: right;
        line-height: 1.8em;
        margin: 5px 0 0 0;
    }
    .projectTransformed {
        @include transform(translate(100px, 0));
        opacity: 0;
    }
    .content {
        @include transition(all, 500ms);
    }
}

.js .projectNoJS {
    display:none;
}

@media all and (max-width: $bp_1), all and (max-device-width: $bp_1) {

    .project {
        margin: 0;
        width: 100%;
    }

}


@media all and (max-width: $bp_2), all and (max-device-width: $bp_2) {

    .project {
        img {
            width: 100%;
            margin: 0 0 1em;
        }
        p {
            margin: 1em;
        }
    }

}

