@import '_mixins';

.project {
    @include perspective(3200px);
    overflow: hidden;
    img {
        margin: 0 20px 20px 0;
        float: left;
    }
    p {
        clear: right;
        line-height: 1.7em;
        color: #666;
    }
    .projectTransformed {
        @include transform(rotateY(15deg));
        opacity: 0;
    }
    .content {
        @include transition(all, 500ms);
    }
}
.js .projectNoJS {
    display:none;
}
