@import '_mixins';

.project {
    @include perspective(3200px);
    overflow: hidden;
    img {
        margin: 5px 20px 20px 0;
        float: left;
    }
    p {
        clear: right;
        line-height: 1.8em;
    }
    .projectTransformed {
        @include transform(translate(100px, 0));
        opacity: 0;
    }
    .content {
        @include transition(all, 500ms);
    }
}

.js .projectNoJS {
    display:none;
}

@media all and (min-width: 960px), all and (min-device-width: 960px) {

    .project {
        width: 960px;
        margin: 0 auto;
        p {
            margin: 5px 0 0 0;
        }
    }

}


@media all and (max-width: 800px), all and (max-device-width: 800px) {

    .project {
        margin: 0;
        width: 100%;
        img {
            width: 100%;
            margin: 1em 1em 0;
        }
        p {
            margin: 1em;
        }
    }

}

