@import '_mixins';

.tileList {
    @include transition(all, 300ms);
    > li {
        @include perspective(1000);
        margin: 10px 10px 0 0;
        display: block;
        &:hover {
            .tile {
                @include transform(rotateY(-180deg));
                .front {
                    z-index: 0;
                }
                .back {
                    z-index: 10;
                    a {
                        @include transform(translate(0,0));
                    }
                }
            }
            .info {
                top: 50%;
            }
        }
        .transformed {
            @include transform(rotateY(-90deg) translate(120px, 0));
            opacity:0;
        }
    }
    img {
        @include transition(all, 300ms);
    }

}
.js .tileListNoJS {
    display: none;
}
.tileListNoJS {
    > li {
        overflow: hidden;
        margin-top: 10px;
        background: $tile-bg;
    }
    h2 {
        margin: 10px 10px 10px 110px;

    }
    h3 {
        margin: 10px 10px 10px 110px;
    }
    img {
        float: left;
    }
    a {
        display: block;
        width: 30px;
        height: 30px;
        text-indent: -999em;
        float: left;
        margin: 0 0 0 10px;
    }
}
