@import '_mixins';

.tileList {
    > li {
        margin: 5px;
        display: block;
        background-color: #fff;
        .tile {
            @include transition(all, 100ms);
            position: relative;
            overflow: hidden;
        }
        .enlarge, .more, .external {
            position: absolute;
            top: 8px;
            text-indent: -999em;
        }
        .enlarge {
            width: 14px;
            height: 14px;
            left: 8px;
        }
        .more {
            width: 30px;
            height: 30px;
            right: 8px;
        }
        .external {
            width: 30px;
            height: 30px;
            right: 8px;
            top: 48px;
        }
        &:hover {
            .tile {
                border: 2px solid #fff;
                .info {
                    top: 50%;
                }
            }
        }

        .info {
            @include transition(all, 100ms);
            @include box-shadow(0 0 10px rgba(0,0,0,0.7) inset);
            background: rgba(0,0,0,0.7);
            overflow: hidden;
            width: 100%;
            position: absolute;
            height: 50%;
            top: 100%;
            border-top: 2px solid #fff;
            h3 {
                text-shadow: 0 1px 0 rgba(0,0,0,0.5);
                font-size: 1.3em;
                font-weight: bold;
                margin: 34px 10px 0;
            }
            h4 {
                font-size: 1.1em;
                margin: 5px 48px 10px 10px;
            }
        }
    }
} 
.js .tileListNoJS {
    display: none;
}