@import '_mixins';

.tileList {
    > li {
        margin: 5px;
        display: block;
        background-color: #fff;
        &:hover {
            .info {
                top: 50%;
            }
        }

    }
}
.js .tileListNoJS {
    display: none;
}
