@import "_mixins";

.tipList {
    > li {
        position: relative;
        &:hover {
            .tip {
                display: block;
            }
        }
    }
    .tip {
        color: $tip-text;
        position: absolute;
        font-size: 1.2em;
        background: $tip-bg;
        top: 60px;
        left: 25px;
        display: none;
        text-align: center;
        padding: 6px 10px;
        box-sizing: content-box;
        z-index: 1;
        &:after {
            content: "";
            display: block;
            border: 5px solid $tip-bg;
            border-right: 5px solid transparent;
            border-top: 5px solid transparent;
            width: 0;
            height: 0;
            left: 0;
            top: -10px;
            position: absolute;
        }
    }
}
