@import "_mixins";

.welcome {
    width: 960px;
    margin: 30px auto;
    padding: 0 0 30px;
    overflow: hidden;
    a {
        position: relative;
        margin: 30px 0 0 40px;
        display: block;
        span {
            width: 30px;
            height: 30px;
            position: absolute;
            left: -40px;
            top: -10px;
        }
    }
}
